ul {
  display: flex;
  padding: 1rem; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none;
      color: blue; }
      ul li a:hover {
        color: aqua; }

header {
  position: sticky;
  width: 100%;
  top: 0; }
  header nav {
    display: flex; }
    header nav ul {
      display: flex; }

main.home section {
  background-color: blue; }
  main.home section article {
    background-color: blue; }
